.dialogList__item{
  margin: 10px 0;
  padding: 0 0 0 30px;
}
.dialogList__item.active{

  font-size: 23px;
  font-weight: 600;
}
.dialogList__item:before{
  content: '';
  display: inline-block;
  text-align: center;
  margin: 0 10px 2px 0 ;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

