ul{
  list-style: none;
}
img{
  user-select: none;
}

a{
  color: black;
  text-decoration: none;
}

.Wrapper{
  overflow: hidden;
  display: grid;
  margin: 5px 40px;
  grid-template-areas: 
  "header header"
  "sideBar content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 8fr;
  grid-gap: 10px;
}

.button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #55c3fe;
  color: white;
  font-size: 15px;
  user-select: none;
}

.button:hover{
  background-color: #19c0fd;
  cursor: pointer;
}

.button:active{
  background-color: #008ff6;
}

